---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <header class = "header">
      <ul class="social__links">
        <li><a href="https://www.instagram.com/rcpprogrammingclub/" target="_blank"><img alt= "logo" src="/pictures/clubLogo.png" class = "logo"></a></li>
        <li><a href="https://discord.gg/yfmjwJQBkP" target="_blank"><img alt= "discord" src="/pictures/discord.png" class = "disc"></a></li>
        <li><a href="https://www.instagram.com/hackforyouth/" target="_blank"><img alt= "instagram" src="/pictures/insta.png" class = "insta"></a></li>
    </ul>
      <nav>
          <ul class="nav__links">
              <li><a href="#about" onclick = directToID("info")>About</a></li>
              <li><a href="#sponsors" onclick = directToID("theSponsors")>Sponsors</a></li>
              <li><a href="#faq" onclick = directToID("theFaq")>FAQ</a></li>
          </ul>
      </nav>
  </header>
  <!-- <div id="mobile__menu" class="overlay">
      <div class="overlay__content">
          <a href="#about">About</a>
          <a href="#sponsors">Sponsors</a>
          <a href="#faq">FAQ</a>
      </div>
  </div> -->
    <script is:inline>
			function directToID(id){
				const T = document.getElementById(id)
				T.scrollIntoView(
					{
						behavior: "smooth"
					})
				}
		</script>
  
      
    </script>
  </body>
</html>

<style>
 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #71B1E5;
  z-index: 200;
  
}


.logo,
.disc,
.insta{
  object-fit: cover;
  cursor: pointer;
}
.logo{
  height: 3.25rem;
  width: auto;
}
.disc{
  padding-top: 0.35rem;
  height: 2.75rem;
  width: auto;
}
.insta{
  height: 3.15rem;
  width: auto;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  font-size: 20px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a:hover {
  color: #153959;
  transition: all 0.3s ease 0s;
}

.social__links {
  list-style: none;
  display: flex;
}
.social__links li {
  padding: 0px 10px;
}



.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}


@media (max-width:580px) {
  .logo{
    height: 2.9rem;
  }
  .disc{
    height: 2.3rem;
  }
  .insta{
    height: 2.95rem;
  }
  .nav__links li {
  padding: 0px 15px;
  }
  .nav__links{
    font-size: 16px;
  }
  header{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
  }
}

@media (max-width:500px) {
  .logo{
    height: 2.6rem;
  }
  .disc{
    height: 2.0rem;
  }
  .insta{
    height: 2.5rem;
  }
  .nav__links li {
  padding: 0px 11px;
  }
  .nav__links{
    font-size: 12px;
  }
  header{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

</style>